.fondo{
    background-color: blue;
    width: 700px;
    height: 300px;
}

.fondo1{
    background-color: brown;
    height: 400px;
}

.fondo2{
    background-color: blue;
}

.fondo3{
    background-color: blueviolet;
    height: 300px;
}

.fondo4{
    background-color: brown;
    
}

.logo8{
    max-width: 50%;
    max-height: 50%;
}
